<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu
      (selectedPage)="changePage($event)"
      [currentPage]="page"
      (onCloseSidenav)="onClose($event, sidenav)"
      [loggedInUser]="loggedInUser"
      (onLogout)="logout($event)"
    ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="title" [ngStyle]="{'font-size': '20px', 'display': 'flex', 'align-items': 'center'}">
        <mat-icon>sailing</mat-icon>
        <span>CodeFish</span>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <div fxLayout fxLayoutGap="10px">
          <button mat-button routerLink="/main">Main</button>
          <button mat-button routerLink="/browse">Browse</button>
          <button mat-button *ngIf="loggedInUser" routerLink="/cart">Cart</button>
          <button mat-button routerLink="/about">About</button>
          <button mat-button *ngIf="!loggedInUser" routerLink="/login">Login</button>
          <button mat-button *ngIf="loggedInUser" routerLink="/login" (click)="logout()">Logout</button>
          <button mat-button *ngIf="!loggedInUser" routerLink="/signup">Sign up</button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
