<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu
      (selectedPage)="changePage($event)"
      [currentPage]="page"
      (onCloseSidenav)="onClose($event, sidenav)"
      [loggedInUser]="loggedInUser"
      (onLogout)="logout($event)"
    ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>CodeFish</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/main">Main</a></li>
          <li><a routerLink="/browse">Browse</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/cart">Cart</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/checkout">Checkout</a></li>
          <li><a routerLink="/about">About</a></li>
          <li *ngIf="!loggedInUser"><a routerLink="/login">Login</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
          <li *ngIf="!loggedInUser"><a routerLink="/signup">Sign up</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
